#header {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1.8s ease-in-out;
}

.title-bnr {
    color: #FF2929;
    font-family: "Charmonman", serif;
    font-weight: 700;
    font-size: 36px;
}

#Nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.7em;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: #ccc6c6;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-weight: 500;
    padding-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
}

.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FFDE00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease;
}
.link:hover {
    color: #FFDE00;
}
.link:hover::before {
    transform: scaleX(1);
}

/* Burger icon */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
    padding: 5px;
}

.burger .line {
    height: 3px;
    width: 100%;
    background-color: #F7F5F2;
    transition: all 0.3s ease;
}

.burger .line.open {
    transform: rotate(390deg);
}

.burger .line:nth-child(2).open {
    opacity: 0;
    /* transform: rotate(-360deg); */
}

.burger .line:nth-child(3).open {
    transform: rotate(-390deg);
    /* opacity: 0; */
}


/* Responsive Media Query */
@media (min-width: 601px) and (max-width: 1024px) {
    .title-bnr {
        font-size: 36px;
    }
     .burger {
        display: flex;
        z-index: 20;
    }
    #Nav {
        z-index: 15;
        display: none;
        width: 300px;
        height: 500px;
    }
    
    #Nav.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #EEEEEE;
        padding: 20px;
        gap: 3rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 10;
        animation: fadeIn 0.5s ease-in-out;
    }
    #Nav li {
        margin: 10px 0;
    }
    #Nav li a {
        text-decoration: none;
        color: #0f0f0f;
        font-size: 26px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .title-bnr {
        font-size: 32px;
    }

    .burger {
        display: flex;
        z-index: 20;
    }
    .burger .line {
        width: 30px;
        height: 3px;
        background-color: #F7F5F2;
        transition: all 0.3s ease;
    }

    #Nav {
        z-index: 15;
        display: none;
        width: 200px;
    }
    
    #Nav.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #EEEEEE;
        padding: 20px;
        gap: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9;
        animation: fadeIn 0.5s ease-in-out;
    }

    #Nav li {
        margin: 10px 0;
    }

    #Nav li a {
        text-decoration: none;
        color: #0f0f0f;
        font-size: 22px;
        font-weight: 600;
    }
}